/Assignment.class
/ConsonentVowel.class
/GuessNumber.class
/NumRepeat.class
/Palindrome.class
/RecognizeChar.class
/RepeatChar.class
/ReverseString.class
/SortNumber.class
/SumofUnspecified.class
/TomandJerry.class
